{% extends 'PabloAplicacion/layout.html' %}
{% load static %}
{% block content %}

<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    
      <div class="row">
      <img src="{% static 'img/Captura1.JPG' %}" class="img-fluid" alt="foto">
    </div>
<div></div>

 <div class="row bloquemedio">
  <div class="col-sm-12 col-md-12 bloque1">
        <h3>Quién Soy</h3>
        <p>Me fui de Chile a los 19 años a estudiar en USA. Allá me gradué como periodista e historiador en música en Ohio Wesleyan University. Trabajé en la cadena de televisión CBS antes de volver a Chile. En total estuve como 10 años allá viviendo en Columbus (Ohio), Atlanta (Georgia) y en la Ciudad de Nueva York. Después volvía a Chile e hice un MBA en la Universidad Católica de Chile.</p>
        <p> </p>
        <p>Curriculum <a href="./static/Curriculum.pdf" style="color:red;" style="text-decoration:none">Aquí</a> | Acreditación ACIV <a href="./static/ACIV.pdf" style="color:red;" style="text-decoration:none">Aquí</a></p> 
      </div>
    </div>
  </div>  
{% endblock %}
